body{
    margin: 0px;
    padding: 0px;
    background-color:ghostwhite;
}
#logo{
    height: 90px;
}
button{
    cursor: pointer;
}
#header{
    background-color: #4068A8;
}
.headerbuttons{
float: right;
border: none;
margin: 23px;
background-color: #4068A8;
font-size: 30px;
}
.headerbuttons:hover{
    background-color: ghostwhite;
}
#intro-box{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 200px;
}
#my-pic{
    height: 520px;
    width: 390px;
    margin-top: 9%;
}
hr{
    height: 30px;
    width: 450px;
    background-color: #4068A8;
    position:fixed;
    margin-top: 284px;
}
#image-container{
    background-color: #4068A8;
    height: 600px;
    width: 460px;
    text-align: center;
    border-radius: 5%;
}
#ss-computer-pics{
position: fixed;
margin-left: 250px;
margin-top: 140px;
}
#gui-computer-pics{
position: fixed;
margin-right: 80px;
margin-top: 120px;
}
#name-intro{
    font-size: 40px;
    margin: 0px;
}
#job-title{
    margin: 0px;
    font-size: 100px;
}