body{
    margin: 0px;
    padding: 0px;
    background-color:ghostwhite;
}
#logo{
    height: 90px;
}
button{
    cursor: pointer;
}

#header{
    background-color: #4068A8;
}
.headerbuttons{
float: right;
border: none;
margin: 20px;
padding: 0px;
background-color: #4068A8;
font-size: 30px;
transition: background-color 0.3s;
}
.headerbuttons:hover{
    background-color: ghostwhite;
}

#intro-box{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 200px;
}
#my-pic{
    height: 520px;
    width: 390px;
    margin-top: 9%;
}
hr{
    height: 30px;
    width: 450px;
    background-color: #4068A8;
    position:absolute;
    margin-top: 284px;
}
#image-container{
    background-color: #4068A8;
    height: 600px;
    width: 460px;
    text-align: center;
    border-radius: 5%;
}
#ss-computer-pics{
position: absolute;
margin-left: 250px;
margin-top: 140px;
}
#gui-computer-pics{
position: absolute;
margin-right: 80px;
margin-top: 100px;
}

#name-intro{
    font-size: 40px;
    margin: 0px;
    text-wrap: nowrap;
}
#job-title{
    margin: 0px;
    font-size: 95px;
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
#skills{
    text-align: center;
    padding: 10px;
    font-size: 40px;
}
#skills-pictures{
display: flex;
justify-content: space-evenly;
}
#skills-container{
    background-color: #614689;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#html{
height: 170px;
margin-bottom: 20px;
}
#css{
    height: 170px;
}
#javascript{
    height: 170px;
}
#python{
height: 170px;
}
#java{
    height: 170px;
}
#mern{
    height: 170px;
}
#about-frame{
    width: 1400px;
    background-color: #4068A8;
    height: 530px;
    color: ghostwhite;
    margin-bottom: 60px;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

}
#about-text{
    padding: 30px;
    font-size: 27px;
    text-align: center;
    text-wrap: nowrap;
}

.dropdown-btn {
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative; /* Add position: relative */
    float: right;
}

  /* Style for the dropdown container */
  .dropdown-container {
    display: none;
    position: absolute;
    background-color:#4068A8;
    min-width: 143.39px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; /* Update top to 100% for top alignment */
    right: 0; /* Update right to 0 for right alignment */
  }
  
  /* Style for the dropdown items */
  .dropdown-item {
    padding: 12px 16px;
    display: block;
    cursor: pointer;
    text-align: center;
  }
  
  /* Change the background color of the dropdown items on hover */
  .dropdown-item:hover {
    background-color: #3498db;
    color: #fff;
  }
  
  /* Show the dropdown container when hovering over the button */
  .dropdown-btn:hover .dropdown-container {
    display: block;
  }
 .contact-header-icons{
    width: 60px;
 }
 #projects{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373659;
    padding: 40px;
    margin: 50px;
    gap: 60px;
 }
 .projects-container{
    height:400px;
    width: 1000px;
    background-color: ghostwhite;
    margin: 40px;
 }
 .projects-container:hover {
    transform: scale(1.05);
}
.projects-container {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#79ACBE;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
    width: 700px;
    height: 600px;
}

.module-title {
    color: #333;
}

.module-content {
    color: #666;
}

/* Close button */
.closeButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
}
#projects-title{
    padding: 0px;
    font-size: 60px;
    background-color:#373659;
    text-align: center;
    width: 600px;
    height: 100px;
    position: absolute;
    margin-top: 90px;
    border-radius: 20px;
    padding: 20px;
    color: ghostwhite;

}
#projects-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}        .timeline {
    position: relative;
    width: 80%;
    margin: 50px auto;
    height: 2px;
    background-color: #3498db;
}
